* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Chewy' , serif;
}
body {
    background-color: #151d2f;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #13fc97;
    color: #151d2f;
    border-radius: .5em;
    font-weight: 500;
}
#btnSearch {
    background-color: #13fc97;
    color: #151d2f; 
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: 600;
    transition: background 0.3s ease;
}
#btnSearch:hover {
    background-color: #0ecb7d ;
}
.search-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    width: 100%;
    max-width: 50em;
    margin: 1em auto;
    padding: .5em;
}
.search-container input {
    padding: 1em;
    border-radius: .5em;
    font-weight: 400;

}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    justify-content: center;
    max-width: 960px;
    margin: auto; 
}
.loader {
    display: none;
    height: 15em;
    width: 15em;
    border: 3em solid #2b304d;
    border-radius: 50%;
    border-top-color: #13fc97;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: spin 3s infinite;
}
.out {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.out img {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}
@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 480px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}